<div class="profile-container">
    <div class="background-blur"></div>
    <div class="profile-header">
        <h1 class="profile-organization">User Details</h1><br><br>
        <img src="../../assets/Screenshot 2024-05-23 092938.png" alt="User Image" class="profile-image">
    </div>
    <div class="profile-info">
        <h3 class="profile-name">{{userData.name}}</h3>
        <div class="profile-detail">
            <p><span class="profile-label">Email:</span> <span class="profile-value">{{userData.email}}</span></p>
            <p><span class="profile-label">Phone:</span> <span class="profile-value">{{userData.mobileNumber}}</span></p>
            <p><span class="profile-label">Qualification:</span> <span class="profile-value">{{userData.qualification}}</span></p>
            <p><span class="profile-label">Role:</span> <span class="profile-value">{{userData.role}}</span></p>
        </div>
    </div>
</div>

